<h1>Cifrado Hash básico</h1>

<form method="post">
    <label>Texto para cifrar: </label>
    <input type="text" name="contenido"
           class="form-control"/>
    <br/>
    <label>Resultado: </label>
    <textarea rows="5" class="form-control"
              name="resultado">@ViewData["TEXTOCIFRADO"]</textarea>
    <br/>
    <button type="submit" name="accion" value="cifrar"
            class="btn btn-info">
        Cifrar contenido
    </button>
    <button type="submit" name="accion" value="comparar"
            class="btn btn-danger">
        Comparar contenido
    </button>
</form>
<h1 style="color:blue">
    @ViewData["MENSAJE"]
</h1>